arch_required_packages:
  - ca-certificates
  - curl
  - gnupg
  - audit
  - osquery
  - tailscale
  - prometheus-node-exporter
  - fluent-bit
  - docker

ansible_admin_user: ansible
ansible_admin_shell: /bin/bash
ansible_admin_groups:
  - wheel

fluent_bit_tail_paths:
  - /var/log/*.log
fluent_bit_security_tail_paths:
  - /var/log/audit/*.log

audit_rules:
  - "-w /etc/passwd -p wa -k identity"
  - "-w /etc/group -p wa -k identity"
  - "-w /etc/sudoers -p wa -k sudoers"
  - "-w /etc/sudoers.d/ -p wa -k sudoers"
  - "-w /etc/ssh/sshd_config -p wa -k sshd"
  - "-w /etc/polkit-1/ -p wa -k polkit"
  - "-w /usr/bin/sudo -p x -k sudo"
